apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: fabricioveronez/api-bootcamp-produto:v2
          # livenessProbe:
          #   httpGet:
          #     path: /health
          #     port: 8080
          #   initialDelaySeconds: 2
          #   periodSeconds: 2
          #   timeoutSeconds: 1
          #   successThreshold: 1
          #   failureThreshold: 1 
          # readinessProbe:
          #   httpGet:
          #     path: /read
          #     port: 8080
          #   initialDelaySeconds: 2
          #   periodSeconds: 2
          #   timeoutSeconds: 1
          #   successThreshold: 1
          #   failureThreshold: 1  
          resources:
            requests:
              memory: "32Mi"
              cpu: "100m"
            limits:
              memory: "64Mi"
              cpu: "200m"              
          ports: 
          - containerPort: 8080
          env: 
          - name: MONGODB_URI
            value: mongodb://mongouser:mongopwd@mongodb-service:27017/admin

--- 

apiVersion: v1
kind: Service
metadata:
  name: api-service
spec:
  selector:
    app: api
  ports:
    - port: 80
      targetPort: 8080   
      nodePort: 30000   
  type: LoadBalancer

---

# apiVersion: autoscaling/v1
# kind: HorizontalPodAutoscaler
# metadata:
#   name: api-hpa
# spec:
#   scaleTargetRef:
#     apiVersion: apps/v1
#     kind: Deployment
#     name: api
#   minReplicas: 1
#   maxReplicas: 10
#   targetCPUUtilizationPercentage: 50